body {
    background-color: black;
    align-content: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 400px;
}
div.total{
    width: 400px;
    height: 280px;
}
div.a {
    color: white;
    background-color: red;
    width: 200px;
    height: 70px;
    float:left;
    margin:0px;
    padding: 0px;
}
div.b {
    color: white;
    background-color: blue;
    width: 200px;
    height: 70px;
    float:right;
    margin:0px;
    padding: 0px;
}
div.c {
    color: white;
    background-color: yellow;
    width: 100px;
    height: 140px;
    float: left;
}
div.d {
    color: white;
    background-color: purple;
    width: 100px;
    height: 70px;
    float: left;
}
div.e {
    color: white;
    background-color: darkblue;
    width: 200px;
    height: 70px;
    float: left;
}
div.f {
    color: white;
    background-color: magenta;
    width: 100px;
    height: 70px;
    float: left;
}
div.g {
    color: white;
    background-color: yellow;
    width: 100px;
    height: 70px;
    float: left;
}
div.h {
    color: white;
    background-color: white;
    width: 100px;
    height: 70px;
    float: left;
}
div.i {
    color: white;
    background-color: #CBC3E3;
    width: 100px;
    height: 70px;
    float: left;
}
div.j {
    color: white;
    background-color: rgb(82, 20, 20);
    width: 100px;
    height: 70px;
    float: left;
}
div.k {
    color: white;
    background-color: red;
    width: 100px;
    height: 70px;
    float: left;
}
div.m {
    color: white;
    background-color: brown;
    width: 100px;
    height: 70px;
    float: left;
}